<!DOCTYPE html>
{% extends 'course-video.html' %}

{% load staticfiles %}
{% block title %}
课程评论
{% endblock %}
{% block custom_bread %}
  <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'course:list' %}">公开课程</a>></li>
				<li><a href="">课程详情</a>></li>
                <li><a href="">章节视频</a>></li>
                <li><a>视频播放</a></li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}

{% block play_area %}
   <div class="course-infos">
        <div style="margin: 10px " align="center">
           <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="960px" height="540px"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup="{}">
    <source src="{{ video.url }}" type='video/mp4' />
    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
           </video>


        </div>
    </div>

{% endblock %}

{% block self_css %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>公开课视频信息 - 慕学在线网</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <link rel="stylesheet" type="text/css" href="/static/css/muke/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/muke/common-less.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/muke/course/learn-less.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/mooc.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/muke/course/common-less.css">

    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/video-js.min.css' %}">
    <script src="{% static 'js/video.min.js' %}"></script>
<style>
    .video-js .vjs-big-play-button{
        top: 50%;
        left: 50%;
    }

</style>
</head>

{% endblock %}
