{% extends 'usercenterbase.html' %}
{% block right_content %}

    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                {% for course in courses %}

                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ course.learn_time }}</i></span>
                                <span class="fr">学习人数：{{ course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.org }}</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                {% endfor %}



				</div>
			</div>
		</div>
	</div>


{% endblock %}

